.slider-container {
  width: 100%;
  margin: 10px 0;
  padding: 0px 50px;
}

.logo-image {
  margin: 0px 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-item {
  width: 100px;
  height: 100px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.slick-slide {
  width: 170px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.story-user-name {
  font-size: 14px;
  margin: 4px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .slider-container {
    margin: 0;
  }
  .logo-image {
    width: 50px;
    height: 50px;
  }
  .slick-slide {
    width: 130px !important;
  }
}
