.stories-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin-left: 20px;
}
.story-item {
  width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  border: 2px solid rgba(128, 128, 128, 0.317);
  border-radius: 50%;
}
.profile-stories {
  width: 78px;
  height: 78px;
  border-radius: 50%;
}
@media screen and (max-width: 560px) {
  .stories-container {
    margin: 10px;
  }
}
