.story-item {
  width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  border: 2px solid rgba(128, 128, 128, 0.317);
  border-radius: 50%;
}
.profile-stories {
  width: 78px;
  height: 78px;
  border-radius: 50%;
}
.stories-container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.profile-stories {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3px;
  margin-left: 10px;
  border: 1px solid grey;
}
.profile-post-container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 560px) {
  .stories-container {
    margin: 10px;
  }
  .profile-img {
    display: none;
  }
  .profile-section {
    margin: 14px 0;
  }
  .mobile-profile-img {
    display: block;
  }
  .profile-post-image {
    width: 110px;
    padding: 5px;
    height: 110px;
  }
  .profile-stories {
    width: 70px;
    height: 70px;
  }
}
