.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 543px) {
  .login-container {
    width: 100%;
  }
}

.login-image {
  display: none;
}

@media screen and (min-width: 703px) {
  .login-image {
    display: block;
    width: 582px;
    height: 373px;
  }
}

.login-form {
  width: 456px;
  height: 458px;
  box-shadow: 1px 1px 6px #0000007d;
  border-radius: 10px;
  padding: 20px 50px;
}

@media screen and (max-width: 543px) {
  .login-form {
    box-shadow: none;
    width: 100%;
    padding: 0;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-logo {
  width: 82px;
  height: 42px;
}

.company-name {
  font-family: Roboto;
  font-size: 24px;
  margin: 10px 0;
}

.label-content {
  font-size: 12px;
  font-weight: 500;
}

.input-field {
  font-size: 12px;
  width: 100%;
  height: 45px;
  border-radius: 7px;
  padding: 10px;
  border: none;
  outline: none;
  margin-top: 7px;
  margin-bottom: 10px;
  background-color: #eeeeee;
}

.login-btn {
  height: 40px;
  background-color: #4094ef;
  color: white;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-msg {
  color: #ef4444;
}
