.home-page {
  min-height: 100vh;
}

.stories-container {
  padding: 10px 100px;
}

.spinner-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.post-list {
  list-style: none;
  padding: 0 100px;
}

.failure-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  cursor: pointer;
}
.no-search-image {
  width: 120px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .stories-container {
    padding: 10px 15px;
  }
  .post-list {
    padding: 0 10px;
  }
}
