.profile-page {
  min-height: 100vh;
}
.profile-section {
  display: flex;
  gap: 20px;
  margin: 30px 0;
  align-items: center;
}
.profile-container {
  margin: 0 110px;
}
.profile-img {
  width: 180px;
  height: 180px;
}
.profile-name {
  font-size: 32px;
  font-weight: 300;
  margin: 7px 0;
}
.loading-container {
  min-height: 60vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.counts-section {
  display: flex;
  gap: 30px;
}
.follower-count {
  font-size: 16px;
  margin: 0;
}
.profile-id {
  font-weight: 500;
}
.profile-bio {
  font-weight: 400;
  font-size: 16px;
}
.posts-title {
  display: flex;
  align-items: center;
  margin-left: 14px;
  margin-bottom: 8px;
}
.post-heading {
  margin: 0;
  font-size: 16px;
}
.no-post-container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-post-container {
  padding: 0;
}
.profile-post-image {
  width: 330px;
  height: 330px;
}
.mobile-profile-img {
  display: none;
}
@media screen and (max-width: 768px) {
  .profile-container {
    margin: 0 10px;
  }
  .profile-img {
    display: none;
  }
  .profile-section {
    margin: 14px 0;
  }
  .mobile-profile-img {
    display: block;
  }
  .profile-post-image {
    width: 110px;
    height: 110px;
  }
}
.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.mobile-profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
